<h1>Welcome to the Cat Shoppe!</h1>

<form action='cats' method='get'>
  <input type='text' name='number' placeholder='How many you want?'>
  <input type='submit' value='Get your cats!'>
</form><br>


<a href="http://thecatapi.com"><img src="http://thecatapi.com/api/images/get?format=src&type=gif"></a>