<h1>Polly the Parrot</h1>

<img src="http://www.hdwallpapersinn.com/wp-content/uploads/2014/07/Parrot-orange-in-group-hd-wallpapers.jpg.jpg" width='200'>
"say something funny! tee hee"

<form action="/parrot" method="POST">
  <input type="text" name="says">
  <input type="submit" value="Say it!">
</form>
<%= @message %>