<h1>Welcome to Colorizer</h1>

<form action="/upcaseify" method="post">
  <input type='text' name='cool_string'>
  <br>
  Do you want me to downcase the text?
  <input type='checkbox' name='downcase'>
  <br>
  <input type='submit' value='Upcaseify!'>
</form>