<h1><%= @message %></h1>

<p>Enter your super secret security code:</p>


<form action ="mainframe" method="get">
	<%= password_field_tag :password %><br>
	<input type='submit' value='Log In'>
</form>
