<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<div class="container">

<h1> Play "Rock, Paper, Scissors!" </h1>


<br>
<a class="btn btn-success btn-lg" href="/make_answer?user_choice=rock&choice=<%= @choice %>">rock</a>
<a class="btn btn-primary btn-lg" href="/make_answer?user_choice=paper&choice=<%= @choice %>">paper</a>
<a class="btn btn-info btn-lg" href="/make_answer?user_choice=scissors&choice=<%= @choice %>">scissors</a>

</div>